{
  "Parameters": {
    "ProjectName": "music-recommendation-v2",
    "Environment": "dev",
    "VpcId": "vpc-09155e992773617fb",
    "SubnetIds": "subnet-03ceddb362a5b747b,subnet-0ed9aec28fe7d0bd6",
    "SubnetAzs": "us-east-1a,us-east-1d",
    "RouteTableIds": "rtb-0c3d34139955980d2,rtb-07bb5a4a52ca1fead",
    "DBName": "recommendationdata",
    "DBUsername": "usermi",
    "DBPassword": "REPLACE_WITH_SECURE_PASSWORD",
    "ListenBrainzUsername": "MichaelMai",
    "ListenBrainzToken": "REPLACE_WITH_YOUR_TOKEN",
    "CodeStarConnectionArn": "arn:aws:codeconnections:us-east-1:933822101078:connection/7b5c31e0-4af1-473d-9477-ea42f76bf14a",
    "SageMakerTrainingInstanceType": "ml.m5.xlarge",
    "SageMakerInferenceInstanceType": "ml.t2.medium"
  }
}
